@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

@mixin gradient($top-color, $bottom-color) {
  background: linear-gradient(to bottom, $top-color, $bottom-color);
}
@mixin animListItems {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: 1.2s #{$i * .2}s ease-in-out forwards animListItems;
    }
  }
}