@use '../abstracts/functions' as f;

/* ----------------------------- */
/* COLORS
/* ----------------------------- */

// GRAPHIC CHARTER
$omf-color--primary: #9356DC; 
$omf-color--secondary: #FF79DA;
$omf-color--tertiary: #99E2D0;

// GRAPHIC CHARTER VARIANTS
$omf-color--primary-light: scale-color($omf-color--primary, $lightness: 85%);
$omf-color--tertiary-dark: scale-color($omf-color--tertiary, $lightness: -65%, $saturation: 90%);

// OTHERS
$omf-color--black: #101010;
$omf-color--grey-darkest: #353535;
$omf-color--grey-darker: #7e7e7e;
$omf-color--grey-light: #f6f6f6;

/* ----------------------------- */
/* FONTS
/* ----------------------------- */

// FONT-FAMILY
$omf-font-url: 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap';
$omf-font--special: 'Shrikhand', cursive;
$omf-font--default: 'Roboto', sans-serif;

// FONT-SIZE
$omg-font-size--large: f.rem(30);
$omg-font-size--medium: f.rem(18);
$omg-font-size--small: f.rem(16);

/* ----------------------------- */
/* SPACINGS
/* ----------------------------- */
$gutter--default: f.rem(20);
