html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input {
  margin: 0;
}
ul, ol {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
