@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;

@import url(v.$omf-font-url);

body {
  font-family: v.$omf-font--default;
  font-size: v.$omg-font-size--medium;
}
h1,
h2,
h3 {
  font-family: v.$omf-font--special;
}
h1,
h2 {
  font-size: v.$omg-font-size--large;
}
