@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

@import url($omf-font-url);

body {
  max-width: 375px; // A supprimer
  box-shadow: 0 0 10px #ccc; // A supprimer
  margin: auto; // A supprimer
  font-family: $omf-font--default;
  font-size: $omg-font-size--medium;
}
h1 {
  font-family: $omf-font--special;
}
h1,
h2 {
  font-size: $omg-font-size--large;
}
