@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

@import url($omf-font-url);

body {
  font-family: $omf-font--default;
  font-size: $omg-font-size--medium;
  line-height: 1.3;
}
h1 {
  font-family: $omf-font--special;
  font-size: $omg-font-size--xlarge;
}
h2, h3 {
  font-size: $omg-font-size--large;
}
