
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.omf-u-ctn {
  padding-left: $gutter--default;
  padding-right: $gutter--default;
  width: 100%;
  margin: auto;
  @include rwd(tablet) {
    max-width: map-get($rwd-brk, tablet);
  }
  @include rwd(laptop) {
    max-width: 960px;
  }
  @include rwd(laptop-l) {
    max-width: 1200px;
  }
  @include rwd(min-width, 1800px) {
    max-width: 1500px;
  }
}

.omf-u-grid {
  display: grid;
}
.omf-u-grid--auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.omf-u-grid--auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@include rwd(min-width, 1800px) {
  .omf-u-grid--auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }
  .omf-u-grid--auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  }
}
.omf-u-gridgap--small {
  grid-gap: $gutter-inner--small;
}
.omf-u-gridgap--medium {
  grid-gap: $gutter-inner--medium;
}
.omf-u-gridrowgap--medium {
  grid-row-gap: $gutter-inner--medium;
}
.omf-u-gridcolgap--default {
  grid-column-gap: rem(20);
  @include rwd(laptop) {
    grid-column-gap: rem(30);
  }
}
