@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.omf-c-link-btn {
  padding: rem(15);
  font-size: $omg-font-size--medium;
  &:hover {
    text-decoration: none;
  }
  &--primary:hover {
    color: $omf-color--primary;
  }
}
.omf-c-btn {
  padding: rem(15) rem(22);
  @include gradient($omf-color--primary, $omf-color--secondary);
  border: none;
  border-radius: rem(40);
  box-shadow: 0 3px 10px $omf-color--grey-light;
  color: #fff;
  font-size: $omg-font-size--small;
  &:hover {
    opacity: 0.8;
    box-shadow: 0 3px 10px $omf-color--grey-darker;
    transition: all ease 500ms;
    cursor: pointer;
  }
}