@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.omf-c-card {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px $omf-color--grey-light;
  font-size: $omg-font-size--medium;
  &__img-wrap {
    display: flex;
    max-height: rem(175);
  }
  &__img {
    object-fit: cover;
    flex: 1 0 100%;
  }
  &__label {
    position: absolute;
    right: rem(13);
    top: rem(13);
    padding: rem(7) rem(12);
    background-color: $omf-color--tertiary;
    border-radius: 2px;
    color: $omf-color--tertiary-dark;
    font-size: $omg-font-size--xsmall;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    padding: rem(12);
  }
  &__geoloc {
    font-weight: 300;
  }
  &__like {
    padding: 0 rem(12);
    font-size: $omg-font-size--xlarge;
    background: #fff;
    -webkit-text-stroke: 1px;
    background-position-y: 2rem;
    &:hover {
      @include gradient($omf-color--primary, $omf-color--secondary);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 0;
      transition: background-position-y ease 500ms;
      -webkit-text-stroke: 0;
    }
    &, &:hover {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}