@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.omf-c-card {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px $omf-color--grey-light;
  font-size: $omg-font-size--medium;
  &__img-wrap {
    display: flex;
    max-height: rem(175);
  }
  &__img {
    object-fit: cover;
    flex: 1 0 100%;
  }
  &__label {
    position: absolute;
    right: rem(13);
    top: rem(13);
    padding: rem(7) rem(12);
    background-color: $omf-color--tertiary;
    border-radius: 2px;
    color: $omf-color--tertiary-dark;
    font-size: $omg-font-size--xsmall;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    padding: rem(12);
  }
  &__geoloc {
    font-weight: 300;
  }
}