@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.omf-c-like {
  padding: 0 rem(12);
  justify-self: flex-end;
  font-size: $omg-font-size--xlarge;
  @include fillFontGradient;
}
