@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../base/animations' as *;

.spinner {
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2.5s ease-in-out forwards fadeOutUndisplay;
  &__icn {
    font-size: rem(100);
    animation: 750ms ease-in-out infinite clockwiseAnticlockwise;
  }
}
