@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.omf-l-footer {
  background-color: $omf-color--grey-darkest;
  color: #fff;
  padding: $padd--default 0;
  &__logo {
    display: block;
    margin-bottom: rem(10);
    font-family: $omf-font--special;
  }
  &__link {
    display: flex;
    padding: rem(3) 0;
    font-size: $omg-font-size--small;
  }
  &__icn {
    width: rem(30);
  }
}
