/* Error: Undefined variable.
 *   ,
 * 4 | @import url($omf-font-url);
 *   |             ^^^^^^^^^^^^^
 *   '
 *   assets/styles/base/_typography.scss 4:13  @use
 *   assets/styles/main.scss 8:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502  @import url($omf-font-url);\a   \2502              ^^^^^^^^^^^^^\a   \2575 \a   assets/styles/base/_typography.scss 4:13  @use\a   assets/styles/main.scss 8:1               root stylesheet";
}
