// ABSTRACTS
@use './abstracts/variables';
@use './abstracts/functions';
@use './abstracts/mixins';

// BASE
@use './base/reset';
@use './base/typography';
@use './base/utilities';

// COMPONENTS
@use './components/btns';
@use './components/card';
@use './components/spinner';

// LAYOUT
@use './layout/all';
@use './layout/header';
@use './layout/footer';

// PAGES
@use './pages/accueil';
@use './pages/menu';
