@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.omf-geoloc {
  padding: rem(15);
  background-color: $omf-color--grey-light;
  text-align: center;
  font-size: $omg-font-size--small;
  &__icn {
    margin-right: rem(10);
  }
}

.omf-mea {
  &__title {
    margin-bottom: rem(10);
    font-size: $omg-font-size--large;
  }
  &__btn {
    margin-top: rem(30);
  }
}