@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../base/animations' as *;

.omf-menu {
  &__mea-picture {
    position: sticky;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: rem(-50);
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
  }
  &__section {
    display: grid;
    grid-template-areas: 
    "menu-title menu-title ."
    "menu-contents menu-contents menu-contents"
    ". menu-btn .";
    grid-template-columns: rem(70) 1fr rem(70);
    grid-row-gap: rem(40);
    border-radius: rem(40) rem(40) 0 0;
    padding-top: rem(30);
    padding-bottom: rem(80);
  }
  &__title {
    grid-area: menu-title;
  }
  &__contents {
    grid-area: menu-contents;
  }
  &__content {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: rem(13);
    &__title {
      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: rem(40);
        border: 2px solid $omf-color--tertiary;
      }
      position: relative;
      margin-bottom: rem(10);
      font-size: $omg-font-size--small;
      text-transform: uppercase;
      font-weight: 300;
    }
    &__item {
      display: grid;
      grid-template-areas: 
      ". . . menu-content-item-check"
      ". menu-content-item-title menu-content-item-title menu-content-item-check"
      ". menu-content-item-info menu-content-item-price menu-content-item-check"
      ". . . menu-content-item-check";
      grid-template-columns: rem(10) 1fr rem(70) min-content;
      grid-template-rows: rem(10) 1fr 1fr rem(10);
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 0 15px $omf-color--grey-light;
      border-radius: rem(15);
      font-size: $omg-font-size--small;
      font-weight: 300;
      @include animListItems;
      &__title {
        grid-area: menu-content-item-title;
        font-size: $omg-font-size--medium;
        font-weight: 500;
      }
      &__info {
        grid-area: menu-content-item-info;
      }
      &__title, &__info {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &__price {
        grid-area: menu-content-item-price;
        justify-self: center;
        font-weight: 500;
      }
      &__check {
        grid-area: menu-content-item-check;
        background-color: $omf-color--tertiary;
        border: none;
        font-size: $omg-font-size--large;
        color: #fff;
        &__icn {
          transform: rotate(0);
        }
        width: rem(0);
        transform: translateX(60px);
        transition: all 500ms;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover &__check {
        width: rem(60);
        transform: translateX(0);
        transition: all 500ms;
      }
      &:hover &__check__icn {
        transform: rotate(360deg);
        transition: transform 500ms;
      }
    }
  }
  &__btn {
    grid-area: menu-btn;
    width: rem(190);
    justify-self: center;
  }
}
