@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.omf-menu {
  &__mea-picture {
    position: sticky;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: rem(-50);
  }
  &__section {
    display: grid;
    grid-template-areas: 
    "menu-title menu-title ."
    "menu-content-starter menu-content-starter menu-content-starter"
    "menu-content-main menu-content-main menu-content-main"
    "menu-content-dessert menu-content-dessert menu-content-dessert"
    ". menu-btn .";
    grid-template-columns: rem(70) 1fr rem(70);
    grid-row-gap: rem(40);
    border-radius: rem(40) rem(40) 0 0;
  }
  &__title {
    grid-area: menu-title;
  }
  &__content {
    display: grid;
    grid-row-gap: rem(13);
    &--starter {
      grid-area: menu-content-starter;
    }
    &--main {
      grid-area: menu-content-main;
    }
    &--dessert {
      grid-area: menu-content-dessert;
    }
    &__title {
      font-size: $omg-font-size--small;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: rem(40);
        border: 2px solid $omf-color--tertiary;
      }
    }
    &__item {
      display: grid;
      grid-template-areas: 
      ". . . menu-content-item-check"
      ". menu-content-item-title menu-content-item-title menu-content-item-check"
      ". menu-content-item-info menu-content-item-price menu-content-item-check"
      ". . . menu-content-item-check";
      grid-template-columns: rem(10) 1fr rem(70) rem(60);
      grid-template-rows: rem(10) 1fr 1fr rem(10);
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 0 15px $omf-color--grey-light;
      border-radius: rem(15);
      font-size: $omg-font-size--small;
      font-weight: 300;
      &__title {
        grid-area: menu-content-item-title;
        font-size: $omg-font-size--medium;
        font-weight: 500;
      }
      &__info {
        grid-area: menu-content-item-info;
      }
      &__price {
        grid-area: menu-content-item-price;
        justify-self: center;
        font-weight: 500;
      }
      &__check {
        grid-area: menu-content-item-check;
        background-color: $omf-color--tertiary;
        border: none;
        font-size: $omg-font-size--large;
        color: #fff;
      }
    }
  }
  &__btn {
    grid-area: menu-btn;
  }
}